/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(24, 103, 198);
    line-height: 1.6;
    background-color: #E2E8E4;
}

header {
    background: #E2E8E4;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#2a2a2b
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    color: rgb(12, 13, 12);
    text-decoration: none;
    font-weight: 500;
}

header ul li a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom right, #1e293b, #38bdf8);
    color: white;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p span {
    font-weight: bold;
    color: #facc15;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.hero .btn:hover {
    background: #1e293b;
}

section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #1e293b;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background: #67cdf9;
    border: none;
    color: rgb(211, 137, 234);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #1e293b;
}

.contact-links a:hover {
    background: linear-gradient(#67cdf9, #ddd);
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    color: rgb(111, 175, 186);
}
